# Telegram API credentials: https://my.telegram.org/apps
TELEGRAM_API_ID=
TELEGRAM_API_HASH=
TELEGRAM_PHONE_NUMBER=
TELEGRAM_GROUP_IDS=
TDLIB_DATABASE_DIR=
RAW_DATA_DIR=
CRAWL_UNTIL_DATE=
REQUEST_DELAY_SECONDS=
